.chatbot-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #007bff;
  border: none;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  cursor: pointer;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  transition: transform 0.3s ease;
}
#chatbot-root{
  height: fit-content;
}
#chatbot-app{
  height: 75vh;
  width: 431px;
  position: absolute;
  right: 1px;
  top: 0px;

}
.chatbot-button:hover {
  transform: scale(1.1);
}

.chatbot-button img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.chat-container {
    width: 99%;
    max-width: 410px;
    height: 67vh;
    display: flex;
    flex-direction: column;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin: 0px;
    background-color: #ffffff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  .chatbot-close {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
    color: #888;
    transition: color 0.2s ease;
    z-index: 1;
}

.chatbot-close:hover {
    color: #333;
}


  
  .chat-window {
    flex: 1;
    padding: 15px;
    overflow-y: auto;
    background-color: #f4f4f9;
    display: flex;
    flex-direction: column;
  }
  
  .message {
    margin: 10px 0;
    padding: 10px;
    border-radius: 20px;
    max-width: 75%;
    word-wrap: break-word;
    line-height: 1.5;
    overflow: clip;
  }
  
  .message.user {
    background-color: #007bff;
    color: white;
    align-self: flex-end;
  }
  
  .message.bot {
    background-color: #e9ecef;
    color: black;
    align-self: flex-start;
  }
  
  .input-container {
    display: flex;
    padding: 10px;
    background-color: #fff;
    border-top: 1px solid #ddd;
    position: sticky;
    bottom: 0;
  }
  
  .input-container input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 20px;
    margin-right: 10px;
    outline: none;
  }
  
  .input-container button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
  }
  
  .input-container button:hover {
    background-color: #0056b3;
  }
  
  #chatbot-modal {
    background-color: rgba(0, 0, 0, 0.5); /* Light dimming effect */
    display: none;
    position: fixed;
    top:80px;
    right: 0px;
    width: 429px;
    height: 483px;
    z-index: 1000;
    overflow: auto;
}
.chatbot-button {
  transition: transform 0.3s ease;
}
.App {
  height: 40%;
  width: 10px;
}
#chatbot-app {
  flex-grow: 1;
  overflow-y: auto;
  padding: 15px;
  display: flex;
  flex-direction: column-reverse;
  background-color: #f7f9fc; /* Soft background color for the chat area */
}


